.main{
    
    height:500px;
    width:auto;
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    margin-top:50px;
    border-radius:15px;
    flex-basis: 120px;
    height:80px;
    
    
}
input{
    height:auto;
}